<div id="song-info">
</div>
<div id="controls">
  <button class="pause" data-cmd="pause">暂停</button>
  <button class="love" data-cmd="love">喜欢</button>
  <button class="ban" data-cmd="ban">不再播放</button>
  <button class="skip" data-cmd="skip">下一首</button>
</div>
