<ul>
  <li><button data-cmd="pause">暂停</button></li>
  <li><button data-cmd="love">喜欢</button></li>
  <li><button data-cmd="ban">不再播放</button></li>
  <li><button data-cmd="skip">下一首</button></li>
</ul>
