<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Douban FM Hotkey</title>
  <script type="text/javascript" src="faye.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <%= yield %>
</body>
</html>
